body {
  margin:0;
  padding: 0;
}
.body {
  background: linear-gradient(
      rgba(1, 1, 0, 0.45), 
      rgba(1, 0, 0, 0.45)
    ),url(./images/books.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
html, body, h1, h2, h3, h4, h5, p, .mdl-button--raised{
  font-family: Nunito !important;
}
.star {
  text-transform: capitalize;
  font-weight: bolder
}
#button{
  display:inline-block;
  width:250px;
}
#button1{
  display:inline-block;
  width:250px;
}#button2{
  display:inline-block;
  width:250px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 12px;
  display: inline-block;
  word-wrap: normal;
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.notifyLink{
  text-align: right;
  margin-left: 10px;
  color: teal;
}
table {
  width: 100%
}
.errors {
  color: red;
  margin: 10px;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.content{
  margin: 0 auto;
	text-align: center;
  color:white; 
  padding-bottom: 20%; 
}
.contents{
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
.notifications{
  margin:0 auto;
  padding: 10px;
}
img{
  height: 350px;
  width:300px;
  margin: 0px auto;
}
.contentss{
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
.mdl-layout__tab {
  color: rgba(0,0,0,.6) !important;
}
.loading{
  color:n rgba(0,0,0,.6);
}
.card-content{
  margin: 0 auto;
  text-align: center;
  max-width:auto;
  height:auto;    
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#green{
  color:#57e4e4;
}
.redirect-card {
  padding: 30px;
  margin-top: 100px;
}
.redirect {
  font-family: 'Encode Sans Expanded';
  font-size: 20;
}
.content h1{
  text-shadow: 0px 4px 3px rgba(0,1,0,0.9);
}
.mdl-button--raised.mdl-button--colored{
  background: #57e4e4;
  color: rgb(255,255,255);
}
.content button{
  margin:10px;
}
.contents button{
  margin:10px;
}
input[type="file"] {
  display: none;
}
.upload{
  display: inline;
}
.file-upload{
  margin:20px;
}
.btn1{
  margin: 10px;
}
.btn2{
  margin: 10px;
}
.card-wrapper {
  padding: 5%;
}
.category input{
  padding: 4%;
  width: 50%;
  height: 1%;
  border: 0px;
  border: 1px solid #c0c0c0 !important;
  border-radius: 4px;
}
.input-wrapper{
  margin-top: 12px;
}
.card-wrapper input{
  width: 100%;
  border: 0px;
  border: 1px solid #c0c0c0 !important;
  border-radius: 4px;
  padding: 7px;
}

.landing-title, .auth-box{
  margin-top: 8%;
}
.landing-title h1, .mdl-layout-title{
  font-family: 'Sedgwick Ave Display' !important;
  color: #fff;
}
.mdl-layout__header-row a:hover, .mdl-layout__header-row a:active, .mdl-layout__header-row a:focus{
  text-decoration: none;
  color: #fff;
}
.mdl-card__title-text, .mdl-card__supporting-text{
  text-transform: capitalize;
  text-align: left;
}
.btn{
  margin:5px;
}
.glyphicon-trash{
  color: red;
}
.glyphicon-edit{
  color: grey;
}
.glyphicon-eye-open{
  color: rgb(0,150,136);
}
.glyphicon{
  margin: 10px;
}
.form-card {
  padding: 20px;
  padding-top:0px;
  margin-top: 50px;
}
.ask{
  color:black;
  font-weight: bold;   
  text-align: center;
}
