body{
    background-image:url(../images/me.jpg);
    background-size: cover;
    background-position: center; 

    
}
#container-body{
    padding-top:50px;
}
#container-fluid{
    padding:50px;
}
#btn{
    display:block;
}
#body2{
    display:none;
}
#ask{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
#dashboard{
    text-align: center;
}
.col-centered{
    
    float: none;
    margin: 0 auto;
}
#col-centered{
    text-align: center;
}
#d2{
    display:none;
}
#bg-img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.jumbotron{
    overflow: hidden;
    background-image: url(../images/background.jpg); 
    background-size:cover;       
    padding-bottom:50%;
    border-radius: 10px
    
}
#footer {
    text-align: center;
    text-decoration: none;
    font-style: black;
}
#footer li{
	display: inline-block;
    margin-right:30px;
    font-weight: bold;
}