body{
    margin:0;
    padding: 0;
}
.body {
    background: url(./images/books.jpg);
    height:100%;
    width:100%;
    background-size: cover ;
    background-position:center;
}
#button{
    display:inline-block;
    width:250px;
}
.content{
    margin: 0 auto;
	text-align: center;
    color:white; 
    padding-bottom: 20%; 
}
.contents{
    margin: 0 auto;
	text-align: center;
}
.card-content{
    margin: 0 auto;
	text-align: center;
    max-width:auto;
    height:auto;    
}
#green{
    color:teal;
}
.content h1{
    text-shadow: 0px 4px 3px rgba(0,1,0,0.9)
}
.content button{
    margin:10px;
}
.contents button{
    margin:10px;
}
.ask{
    color:black;
    font-weight: bold;   
    margin: 0 auto;
	text-align: center;
}
