<html>
    <head>
        <title>
            Hello-Books
        </title>
        <link rel = 'stylesheet' href = './mdl/material.min.css'>
        <script src = './mdl/material.min.js'></script>
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Hello-Books</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                
            </div>
        </nav> 
        <div id="container">
            <div id="container-body">
                <div class="col-md-9 col-centered">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h1 id="col-centered">Description and Book details goes in here as well as link to borrow book</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>