<html>
    <head>
        <title>
            Hello-Books
        </title>
        <link rel = 'stylesheet' href = './mdl/material.min.css'>
        <script src = './mdl/material.min.js'></script>
        <link rel = 'stylesheet' href = 'https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Hello-Books</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                
            </div>
        </nav> 
        <div id="container">
            <div id="container-body">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="dashboard">
                            <!--<ul class="nav nav-pills">
                                <li role="presentation"><a href="#" id="dash1">Add New Book</a></li>
                                <li role="presentation"><a href="#" id="dash2">View All Books</a></li>
                            </ul>-->
                        <h4 id=col-centered>Edit Book Below
                        </h4>
                        </div>
                        <div class="panel-body">
                                <div class="col-md-6 col-centered">
                                    <div class="form-group">
                                        <label for="Book-Cover">Book Cover</label>
                                            <input type="file" name="exterior">
                                    </div>
                                    <div class="form-group">
                                        <label for="Book">Upload Pdf Format of Book</label>
                                            <input type="file" name="exterior">
                                    </div>
                                    <div class="form-group">
                                        <label for="Title">Title of Book</label>
                                            <input type="text" class="form-control" name="title" id="title">
                                    </div>
                                    <div class="form-group">
                                        <label for="Author">Author of Book</label>
                                            <input type="text" class="form-control" name="title" id="author">
                                    </div>
                                    <div class="form-group">
                                        <label for="Description">Description</label>
                                            <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" placeholder="quantity">
                                    </div>
                                    <div class="form-group">
                                        <div class='select-container'>
                                            <select id = "cadreSelection" required>
                                                <option value="" disabled selected hidden>Select Book Genre</option>
                                                <option value="Politics" id="politics" >Politics</option>
                                                <option value="Science" id="science">Science</option>
                                                <option value="Fiction" id="fiction">Fiction</option>
                                                <option value="Arts" id="arts">Arts</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>