<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Hello-Books
        </title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="container">
            <div id="container-body">
                <div class="col-md-9">
                    <div class="jumbotron">
                        <figure class="fluidratio"></figure>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <center><div id="header">Sign in</div></center>
                        </div>
                        <div id="body1">
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email">		  	
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Sign in</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-danger btn-block" >Sign in Using Google+</button>
                                </div>
                                <div id="ask">
                                    Don't Have an Account yet? Create one Below
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" id="b1" >Create Account</button>
                                </div> 
                                <div id="ask">
                                    <a href="#">forgot password?</a>
                                </div>
                            </div>
                        </div>
                        <div id="body2">
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="signEmail" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Sign Up</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-danger btn-block" >Sign Up Using Google+</button>
                                </div> 
                                <div id="ask">
                                    Already Have an Account? Sign In Below
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" id="b2" >Sign in</button>
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            <div id="footer">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul> 
            </div>
            </div>   
        </div>
        <script src= "js/jquery.js"></script>
	    <script src="js/bootstrap.min.js"></script>
        <script src="js/landing.js"></script>            
    </body>
</html>